@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap');

.title-splash2{
    position: absolute;
    bottom: 70%;
    font-family: 'Balsamiq Sans', cursive;  
    font-size: 20px!important;
    color:white;
    margin: auto;
    //animation: text-flicker-in-glow 4000ms linear both;
    animation-delay: 1s;
}